{% extends 'base.html' %}
{% load static i18n %}

{% block "css" %}{{ block.super }}
  {% for stylesheet_href in stylesheet_hrefs %}
    <link rel="stylesheet" type="text/css" href="{{ stylesheet_href|safe }}">
  {% endfor %}
{% endblock %}

{% block content %}

  <h1>{% block title %}{{ title }}{% endblock %}</h1>

  {{ content|safe }}

{% endblock %}

{% block finalfooter %}
  <p id="final-footer">
    <a href="unknown_url" title="{% trans "Documents Team" %}">Documents Team</a>
    <a>{% trans "Language" %}: '{{ lang }}'</a>
  </p>
{% endblock %}
