{% extends 'resources/resource_base.html' %}
{% load i18n static inkscape timers moderator %}

{% block title %}{{ object.name }} - {% trans "Inkspace the Inkscape Gallery" %}{% endblock %}

{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/comments.css" %}" media="all" />
{% endblock %}

{% block "meta" %}
  <meta name="author" content="{% if object.owner %}{{ object.user }}{% else %}{{ object.owner_name|default:"Unknown author" }}{% endif %}" />
  
  {% if object.description %}
    <meta name="description" content="{{ object.description|striptags }}" />
    <meta property="og:description" content="{{ object.description|striptags }}" />
  {% endif %}
  
  <meta name="keywords" content="inkscape,inkspace,graphic,resource{% for tag in object.tags.all %},{{ tag }}{% endfor %}" />
  <meta property="og:title" content="{{ object.name }} {% trans "on the Inkscape website" %}" />
  <meta property="og:image" content="{{ object.thumbnail_url }}" />
{% endblock %}

{% block "description" %}
  <div class="info">
    <div class="title">
      {% if object.is_removed %}
      <a class="btn btn-danger" style="float: right;">{% trans "Removed by Moderators!" %}</a>
      {% elif object.published %}
        {% if object.user != request.user %}
          <div class="tog single" id="flag">
            <a href="{% flag_url %}" {% if object|is_flagged:request.user %}class="remove"{% endif %} title="{% trans "Flag Resource to Moderators" %}">&nbsp;</a>
            <script>popUpLink('{% trans "Are you sure you want to report this resource?" %}', '{% trans "Cancel" %}', '{% trans "Report" %}', "{{ object.get_absolute_url }}", "{% trans "Please note why you are flagging this resource." %}");</script>
          </div>
        {% endif %}
        
        <div class="tog" id="detailview"><a title="{% trans "Page views" %}">&nbsp;</a><p>{{ object.viewed }}</p></div>
      
        {% if object.download %}
          {% if object.mime.is_image %}
            <div class="tog" id="view"><a href="{% url "view_resource" object.id %}" title="{% trans "Full size view" %}">&nbsp;</a><p>{{ object.fullview }}</p></div>
          {% elif object.mime.is_text %}
            <div class="tog" id="view"><a href="{% url "view_resource" object.id %}" title="{% trans "View full text" %}">&nbsp;</a><p>{{ object.fullview }}</p></div>
          {% endif %}
          {% if not object.mime.is_image or not object.license.nd and object.filename %}
          <div class="tog" id="download"><a href="{% url "download_resource" object.id object.filename %}" title="{% trans "Download" %}">&nbsp;</a><p>{{ object.total_downloads }}</p></div>
          {% endif %}
        {% endif %}

        {% if object.gallery.is_contest %}
          {% if object.gallery.is_voting or object.gallery.is_counting or object.gallery.is_finished %}
            <div class="tog" id="vote">
              <a {% if not request.user.id or request.user == object.user or object.gallery.is_finished or object.gallery.is_counting %}title="{% trans "Votes" %}" class="disabled" {% elif not object.voted %}href="{% url "resource.like" object.id "+" %}" title="{% trans "Vote for this!" %}" {% else %}href="{% url "resource.like" object.id "-" %}" title="{% trans "Withdraw my Vote" %}" class="remove" {% endif %}>&nbsp;</a>
              {% if object.gallery.is_finished or object.gallery.is_counting %}
                <p>{{ object.votes.count }}</p>
              {% elif object.gallery.is_voting %}
                <p title="{% trans "Voting in progress" %}">⌛</p>
              {% else %}
                <p>-</p>
              {% endif %}
            </div>
          {% endif %}
        {% else %}
          <div class="tog" id="fav"><a
            {% if not request.user.id or request.user == object.user %}
              title="{% trans "Favorites" %}" class="disabled"
            {% elif not object.voted %}href="{% url "resource.like" object.id "+" %}" title="{% trans "Mark as a Favorite" %}"
                            {% else %}href="{% url "resource.like" object.id "-" %}" title="{% trans "Remove from Favorites" %}" class="remove"{% endif %}
              >&nbsp;</a><p>{{ object.votes.count }}</p></div>
        {% endif %}
      {% else %}
        <a class="btn btn-danger" style="float: right;" href="{% url "publish_resource" object.pk %}">Not Published</a>
      {% endif %}
      <h2 class="truncate">{{ object.name }}</h2>
      <div class="by">{% trans "by" %} {% if object.owner %}<a href="{{ object.user.get_absolute_url }}">{{ object.user }}</a>{% else %}{{ object.owner_name|default:"Unknown author" }}{% endif %}</div>

    </div>

    <div class="desc">
      {{ object.description|urlized|linebreaks }}
      {% if object.read_more %}
        ...
        <p><a id="readmore" href="{% url "resource.readme" object.pk %}">{% trans "read more" %}</a></p>
      {% endif %}
    </div>

    <div class="side">
      <h2 class="truncate">{% if object.category %}{{ object.category }}{% else %}{% trans "Unpublished"%}{% endif %}</h2>
    
      {% if not object.download %}
        <a class="link" href="{{ object.link }}"><img src="{% static "images/link_to.svg" %}" alt="{% trans "Link"%}" title="{% trans "Follow Link (external site)" %}"/></a>
      {% endif %}
      <dl>
        {% if object.download %}
          {% if object.media_x and object.media_y %}
            {% if object.mime.is_image %}
              {% with object.aspect as aspect %}
                <dt>{% trans "Area" %}</dt><dd title="{{ aspect.label }}"> {{ object.media_x }}x{{ object.media_y }}</dd>
              {% endwith %}
            {% elif object.mime.is_text %}
              <dt>{% trans "Lines" %}</dt><dd> {{ object.media_x }}</dd>
              <dt>{% trans "Words" %}</dt><dd> {{ object.media_y }}</dd>
            {% endif %}
          {% endif %}
          {% if object.is_available %}
            <dt>{% trans "Size" %}</dt><dd>{{ object.download.size|filesizeformat }}</dd>
          {% endif %}
        {% else %}
          <dt>{% trans "Linked From" %}</dt><dd>{{ object.link_from }}</dd>
          {% if object.is_video and object.media_x %}
            <dt>{% trans "Duration" %}</dt><dd>{{ object.media_x|int2timedelta }}</dd>
          {% endif %}
        {% endif %}
        <dt>{% trans "Created" %}</dt><dd>{{ object.created|timetag }}</dd>
        {% with object.revisions.count as revisions %}
          {% if revisions > 0 %}
            <dt>{% trans "Revisions" %}</dt><dd>{{ revisions|add:1 }}</dd>
          {% endif %}
        {% endwith %}
        {% if object.media_type %}
          <dt>{% trans "Type" %}</dt><dd title="{{ object.media_type }}">{{ object.media_type|truncatechars:16 }}</dd>
        {% endif %}
      </dl>

      {% if object.license %}
        <a class="license" {% if object.license.link %}href="{{ object.license.link }}"{% endif %}>
          {% if object.license.icon %}
            <img src="{{ object.license.icon.url }}" alt="{{ object.license }}" title="{% if object.owner %}Copyright © {{ object.years }} {{ object.user.name }}{% endif %} {{ object.license }}"/>
          {% else %}
            <p>{{ object.license }}</p>
          {% endif %}
        </a>
      {% endif %}

      {% if object.signature %}
         <a class="signature" href="{{ object.signature.url }}">
           {% if object.endorsement == 10 %}
             <img src="{% static "images/endorse/official.svg" %}" title="{% trans "Official (Signed by Inkscape Packager)" %}"/>
           {% elif object.endorsement == 5 %}
             <img src="{% static "images/endorse/signed.svg" %}" title="{% trans "Signed (by Uploader)" %}"/>
           {% elif object.endorsement == 1 %}
             <img src="{% static "images/endorse/verified.svg" %}" title="{% trans "Verified (Hash Matches)" %}"/>
           {% else %}
             <img src="{% static "images/endorse/broken.svg" %}" title="{% trans "Broken Signature or Hash!" %}"/>
           {% endif %}
         </a>
      {% elif object.gallery.is_contest and object.checked_by %}
        <img src="{% static "images/endorse/contest.svg" %}" title="{% blocktrans with name=object.checked_by.name %}Checked by {{ name }}!{% endblocktrans %}"/>
      {% endif %}

      {% if object.link and not object.is_video %}
        <p><a href="{{ object.link }}" rel="nofollow noopener" target="_blank">{% trans "Link" %}</a></p>
      {% endif %}
    </div>
  </div>   
    
      <div id="item-footer" class="clearfix">
        {% if object.galleries.count > 1 %}
          {% for gallery in object.galleries.all %}
          <a class="gallery" title="{% trans "Go to Gallery" %}" href="{{ gallery.get_absolute_url }}">{{ gallery.name }}</a>
          {% endfor %}
        {% endif %}
        {% for tag in object.tags.all %}
          <a class="tag" title="{% blocktrans %}Show all items tagged '{{ tag }}'{% endblocktrans %}" href="{% url "resources" %}?tags={{ tag }}">{{ tag }}</a>
        {% endfor %}
        
          <!--We'd have a copy to clipboard button here, but html5 doesn't have it yet-->
          {% if object.user == request.user %}
            {% if not object.gallery or object.gallery.is_mutable %}
            <form action="{% url "edit_resource" object.id %}">
              <button id="editSide" class="start" type="submit">{% trans "Edit" %}</button>
            </form>
            <form action="{% url "delete_resource" object.id %}" onsubmit='return popUp("{% trans "Delete Upload" %}","{% trans "Are you sure you want to delete this upload?" %}","{% url "delete_resource" object.id %}","{% trans "Cancel" %}","{% trans "Confirm Delete" %}");'>
              <button id="deleteSide" class="end" type="submit">{% trans "Delete" %}</button>
            </form>
            {% endif %}
          {% elif perms.resources.can_curate %}
            <form action="{% url "edit_resource" object.id %}">
              <button id="editSide" class="start" type="submit">{% trans "Curate" %}</button>
            </form>
            <form action="{% url "resource.copy" object.id %}">
              <button id="editSide" class="start" type="submit">{% trans "Add to Gallery" %}</button>
            </form>
        {% endif %}
        {% if object.gallery.is_contest %}
          {% if request.user == object.gallery.user or object.gallery.group in request.user.groups.all %}
            <form action="{% url "resource.check" object.id %}">
              {% if not object.checked_by %}
                <button id="editSide" class="start" type="submit">{% trans "Entry is Checked" %}</button>
              {% else %}
                <button id="editSide" class="start" type="submit">{% trans "Uncheck Entry" %}</button>
              {% endif %}
            </form>
          {% endif %}
        {% endif %}
      </div>

  {% if request.user.is_banned %}
    <p>{% trans "Your user is banned from comments. Please contact the moderators for help." %}</p>
  {% else %}
  {% with object as comment_subject %}
    {% with object.get_absolute_url as next and object.user as owner %}
      {% include "comments/comment_area.html" %}
    {% endwith %}
  {% endwith %}
  {% endif %}
  
{% endblock %}
