{% extends "modal.html" %}
{% load i18n static cal %}

{% block "js" %}{{ block.super }}
  <script type="text/javascript" src="{% static "js/localtime.js" %}"></script>
{% endblock %}

{% block "title" %}{% block title %}
{% if team %}
  {% blocktrans %}Calendar Events for {{ team }}{% endblocktrans %}
  {% else %}{{ title }}{% endif %}
{% endblock %}{% endblock %}

{% block "dialog-body" %}


  <table class="alternating" style="width: 100%;">
    <thead id="future">
      <tr>
        <th scope="row">{% trans "Event Name" %}</th>
        {% if not team %}<th scope="col">{% trans "Team" %}</th>{% endif %}
        <th scope="col" colspan="2">{% trans "Event" %}</th>
        <th scope="col">{% trans "Creator" %}</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody id="future">
  {% for event, occurance in object_list.current_events %}
    <tr>
      <th scope="row" style="font-weight: normal; font-style: italic;">{{ event }}</td>
      {% if not team %}<td><a href="{{ event.team.events.get_absolute_url }}">{{ event.team }}</a></th>{% endif %}
      <td style="white-space:nowrap;">
        <span class="btn btn-success" data-event="{{ occurance.start|date:"c" }}">{{ occurance.start }}</span>
      </td>
      <td style="white-space:nowrap;"><span class="btn">{{ occurance.start|relative:occurance.end }}</span></td>
      <td><a href="{{ event.creator.get_absolute_url }}">{{ event.creator }}</a></td>
      <td><a href="{{ event.get_absolute_url }}">📅</a></td>
    </tr>
  {% endfor %}
  {% for event, occurance in object_list.future_events %}
    <tr class="{% cycle "even" "odd" %}">
      <th scope="row" style="font-weight: normal; font-style: italic;">{{ event }}</td>
      {% if not team %}<td><a href="{{ event.team.events.get_absolute_url }}">{{ event.team }}</a></th>{% endif %}
      <td style="white-space:nowrap;">
        <span class="btn btn-default" data-event="{{ occurance.start|date:"c" }}">{{ occurance.start }}</span>
      </td>
      <td style="white-space:nowrap;"><span class="btn">{{ occurance.start|relative:occurance.end }}</span></td>
      <td><a href="{{ event.creator.get_absolute_url }}">{{ event.creator }}</a></td>
      <td><a href="{{ event.get_absolute_url }}">📅</a></td>
    </tr>
  {% endfor %}
    </tbody>
  </table>

  {% for event, occurance in object_list.past_events %}
    {% if forloop.first %}
      <table class="alternating" style="width: 100%;">
        <thead id="future">
          <tr>
            <th scope="row">{% trans "Past Event Name" %}</th>
            {% if not team %}<th scope="col">{% trans "Team" %}</th>{% endif %}
            <th scope="col" colspan="2">{% trans "Event" %}</th>
            <th scope="col">{% trans "Creator" %}</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody id="future">
    {% endif %}

    <tr class="{% cycle "even" "odd" %}" style="opacity: 0.6;">
      <th scope="row" style="font-weight: normal; font-style: italic;">{{ event }}</td>
      {% if not team %}<td><a href="{{ event.team.events.get_absolute_url }}">{{ event.team }}</a></th>{% endif %}
      <td style="white-space:nowrap;">
        <span class="btn btn-default" data-event="{{ occurance.start|date:"c" }}">{{ occurance.start }}</span>
      </td>
      <td style="white-space:nowrap;"><span class="btn">{{ occurance.start|relative:occurance.end }}</span></td>
      <td><a href="{{ event.creator.get_absolute_url }}">{{ event.creator }}</a></td>
      <td><a href="{{ event.get_absolute_url }}">📅</a></td>
    </tr>

    {% if forloop.last %}
        </tbody>
      </table>
    {% endif %}

  {% endfor %}
{% endblock %}

{% block "dialog-buttons" %}
  <a class="btn btn-success" href="{{ object_list.get_ical_url }}">{% trans "Download" %}</a>
  <a class="btn btn-primary copy-url" data-href="{{ object_list.get_ical_url }}">{% trans "Copy ical URL" %}</a>
  {% if request.user.is_staff %}
    <a class="btn btn-default" href="{% url "admin:calendars_event_add" %}?{% if team %}team={{ team.pk }}&{% endif %}creator={{ request.user.pk }}">{% trans "Add" %}</a>
  {% else %}
    <a class="btn btn-disabled" href="">{% trans "Add" %}</a>
  {% endif %}
  {% if team %}
    <a class="btn btn-default" style="float: left" href="{% url "calendars:full" %}">{% trans "All Calendars" %}</a>
  {% else %}
  {% endif %}
{% endblock %}
